<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-1 px-3 border-top bg-light">
    <p>Made for WebClub NITK Express assignment</p>
    <a href="https://github.com/hgupta12/book-directory/tree/Task-1" target="_blank">
        <i class="fab fa-github fa-2x text-dark "></i>
    </a>
</footer>