<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Directory | <%= title %>   </title>
</head>
<body>
    <h1>List of all Books</h1>
    <% if(books.length>0){ %> 
        <% books.forEach(book=>{ %> 
            <a href="<%= `/books/${book._id}`  %> "><%= book.name %> </a>
            
            <p><%= book.author.name %> </p>
    <%}) %> 
    <% }else{ %>
        <p>No books to display!</p>
        <% } %>  
    <div>
        <a href="/add">Add a new book</a>
    </div>
</body>
</html>