<%- include('./partials/header.ejs') %>
    <header class="px-4 py-5 my-5 text-center">
        <h1>Welcome to Book Directory!!</h1>
        <a href="/books" class="link-primary">See all the Books!</a>
    </header>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>